@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: -0;
    padding: 0;
    text-align: center;
}
nav{
    background-color: rgb(53, 14, 53);
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Playfair Display", serif;
}
nav ul{
    list-style-type: none;
}
.gamecontainer{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.choice{
    height: 165px;
    width: 165px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    background-color: rgb(29, 15, 15);
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 3rem;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#user-score,
#comp-score {
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}